/node_modules

*.js
!jest.config.js
*.d.ts

cdk.context.json

# DS_store
.DS_Store
**/.DS_Store

.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Byte-compiled / optimized / DLL files
__pycache__/

# CDK asset staging directory
.cdk.staging
cdk.out